<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="css/templatemo-comparto.css" rel="stylesheet" />
    <title>A reliable travel experience brand</title>

</head>

<body>
    <!-- Back to top button -->
    <a id="button"><i class="fas fa-angle-up fa-2x"></i></a>
    <div class="container-fluid">
        <div class="tm-site-header tm-mb-1">
            <div class="tm-site-name-container tm-bg-color-1">
                <h1 class="tm-text-white">WAKAWITHTUG</h1>
            </div>
            <div class="tm-nav-container tm-bg-color-8">
                <nav class="tm-nav" id="tm-nav">
                    <ul>
                        <li class="tm-nav-item current">
                            <a href="#about" class="tm-nav-link">
                                <span class="tm-mb-1">.01</span>
                                <span>About</span>
                            </a>
                        </li>
                        <li class="tm-nav-item">
                            <a href="#services" class="tm-nav-link">
                                <span class="tm-mb-1">.02</span>
                                <span>Services</span>
                            </a>
                        </li>
                        <li class="tm-nav-item">
                            <a href="#gallery" class="tm-nav-link">
                                <span class="tm-mb-1">.03</span>
                                <span>Gallery</span>
                            </a>
                        </li>
                        <li class="tm-nav-item">
                            <a href="#contact" class="tm-nav-link">
                                <span class="tm-nav-text tm-mb-1">.04</span>
                                <span class="tm-nav-text">Contact</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <section class="tm-mb-1" id="about">
            <div class="tm-row tm-about-row">
                <div class="tm-section-1-l">
                    <img src="img/comparto-image-01.jpg" alt="About image" class="tm-img-responsive">
                </div>
                <article class="tm-section-1-r tm-bg-color-8">
                    <h2 class="tm-mb-2 tm-title-color">About WakaWithTUG</h2>
                    <p><a rel="nofollow" href="https://templatemo.com/tm-544-comparto" target="_parent">WakaWithTUG</a> is a travel experience brand that creates unique travel experience s through our trips, hangouts, Daycations and vacation packages.</p>
                    
                    <a href="#contact" class="tm-btn tm-btn-1 tm-link-to-services">Reach us</a>
                </article>
            </div>
        </section>
        <div class="tm-bg-color-1 tm-mb-1 tm-row tm-social-row">
            <div class="tm-icon">
                <div class="tm-icon-inner">
                    <a href="#services">
                        <i class="fas fa-synagogue fa-4x tm-mb-1"></i>
                        <p>Group trips</p>
                    </a>
                </div>
            </div>
            <div class="tm-icon">
                <div class="tm-icon-inner">
                    <a href="#services">
                        <i class="fas fa-synagogue fa-4x tm-mb-1"></i>
                        <p>Vacation Packages</p>
                    </a>
                </div>
            </div>
            <div class="tm-icon">
                <div class="tm-icon-inner">
                    <a href="#services">
                        <i class="fas fa-synagogue fa-4x tm-mb-1"></i>
                        <p>Personal/Private trips</p>
                    </a>
                </div>
            </div>
            <div class="tm-icon">
                <div class="tm-icon-inner">
                    <a href="#services">
                        <i class="fas fa-synagogue fa-4x tm-mb-1"></i>
                        <p>Honeymoon Packages</p>
                    </a>
                </div>
            </div>
            <div class="tm-icon">
                <div class="tm-icon-inner">
                    <a href="#services">
                        <i class="fas fa-synagogue fa-4x tm-mb-1"></i>
                        <p>Picnics</p>
                    </a>
                </div>
            </div>
            <div class="tm-icon">
                <div class="tm-icon-inner">
                    <a href="#services">
                        <i class="fas fa-synagogue fa-4x tm-mb-1"></i>
                        <p>Events & Hangouts</p>
                    </a>
                </div>
            </div>
        </div>
        <section class="tm-mb-1 tm-row tm-services-row" id="services">
            <div class="tm-section-2-l">
                <article class="tm-bg-color-6 tm-box-pad tm-mb-1">
                    <h2 class="tm-mb-2">Services</h2>
                    <p>We offer the above mentioned services with a touch of quality and style, the experiences and moments we create are second to none.</p>
                </article>
                <div class="tm-bg-color-7 tm-em-box">
                    <p class="tm-text-color-2">There are 365 days and 52 weekends in a year. Even if you are short on time off, you can still take weekend getaways. Does that count as a vacation? Of course it does.</p>
                    <a class="tm-btn tm-btn-2">Anita Kaltenbaugh</a>
                </div>
            </div>
            <div class="tm-section-2-r">
                <img src="img/comparto-image-02.jpg" alt="Services image" class="tm-img-responsive">
            </div>
        </section>
        <section class="tm-bg-color-4 tm-mb-3 tm-gallery-section" id="gallery">
            <div class="tm-gallery-header">
                <h2 class="tm-mb-1 text-right">Gallery</h2>
            </div>
            <div class="tm-gallery-outer">
                <div class="tm-gallery" id="tm-gallery">
                    <div class="tm-gallery-item nature">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-01.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Too <span>CSS</span></h2>
                                <p>It is a great blog you should explore.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                   
                    <div class="tm-gallery-item nature">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-04.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Free <span>HTML</span></h2>
                                <p>HTML layouts are easy to edit.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item animals">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-05.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Just <span>Art</span></h2>
                                <p>You can create your own art website.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item animals">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-06.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Pro <span>Display</span></h2>
                                <p>You can make your artwork gallery.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item peopl">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-07.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>The <span>Nature</span></h2>
                                <p>You can create your own HTML website.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item people">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-08.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Color <span>Art</span></h2>
                                <p>You can create your own CSS website.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item people">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-09.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Take it <span>easy</span></h2>
                                <p>You can create your own art gallery.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item people">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-10.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Share <span>This</span></h2>
                                <p>You can make your own image gallery.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item people">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-13.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Share <span>This</span></h2>
                                <p>You can make your own image gallery.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item people">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-12.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Share <span>This</span></h2>
                                <p>You can make your own image gallery.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="tm-gallery-item nature">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-03.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Web <span>Design</span></h2>
                                <p>This is our special design work.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item people">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-11.jpeg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Share <span>This</span></h2>
                                <p>You can make your own image gallery.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </section> <!-- Gallery -->
        <section id="contact" class="tm-bg-color-5 tm-mb-3">
            <h2 class="tm-text-white tm-contact-title">Contact Us</h2>
            <div class="tm-bg-color-white tm-contact-main">
                <div class="map-outer">
                    <div class="gmap-canvas">
                        <!-- How to change your own map point
                            1. Go to Google Maps
                            2. Click on your location point
                            3. Click "Share" and choose "Embed map" tab
                            4. Copy only URL and paste it within the src="" field below
                        -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3956.2925565912537!2d3.922885814501041!3d7.4328434946375515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1039ed47c13a0313%3A0x55333621c3a3f337!2s3%20Osunkaye%20Inukoko%20Layout%2C%20200132%2C%20Ibadan!5e0!3m2!1sen!2sng!4v1642664272707!5m2!1sen!2sng" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
               
                <div class="contact-info-outer">
                    <div class="tm-bg-color-1 contact-info">
                        <p class="tm-mb-0">Tel: <a href="tel:08160019487">+234 81 6001 9487</a></p>
                        <p>Email: <a href="mailto:wakawithtug21@gmail.com">wakawithtug21@gmail.com</a></p>
                        <p>Address: <a href="">No 3, Inukoko Ashi Bodija, Ibadan, Oyo State.</a></p>
                        <h1 class="tm-text-white">WAKAWITHTUG</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="tm-mb-4 text-center tm-social-s">
            <a href="https://instagram.com/wakawithtug?utm_medium=copy_link" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
            <a href="https://mobile.twitter.com/TomisinOyerinde" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
        </div>
        <footer class="text-center tm-mb-1">
            <p>Copyright &copy; 2022 WAKAWITHTUG
            
            - Design: <a rel="nofollow noopener" href="https://pyeramid.herokuapp.com" target="_blank">PYERAMID</a></p>
        </footer>
    </div> <!-- .container -->
    <script src="js/jquery.min.js"></script> <!-- https://jquery.com/download/ -->
    <script src="js/imagesloaded.pkgd.min.js"></script> <!-- https://imagesloaded.desandro.com/ -->
    <script src="js/isotope.pkgd.min.js"></script> <!-- https://isotope.metafizzy.co/ -->
    <script src="js/jquery.singlePageNav.min.js"></script> <!-- https://github.com/ChrisWojcik/single-page-nav -->
    <script>

        // Scroll to Top button
        var btn = $('#button');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });

        // DOM is ready
        $(function () {
            // Single Page Nav
            $('#tm-nav').singlePageNav({ speed: 600 });

            // Smooth Scroll (https://css-tricks.com/snippets/jquery/smooth-scrolling/)
            $('a[href*="#"]')
                // Remove links that don't actually link to anything
                .not('[href="#"]')
                .not('[href="#0"]')
                .click(function (event) {
                    // On-page links
                    if (
                        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                        &&
                        location.hostname == this.hostname
                    ) {
                        // Figure out element to scroll to
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        // Does a scroll target exist?
                        if (target.length) {
                            // Only prevent default if animation is actually gonna happen
                            event.preventDefault();
                            $('html, body').animate({
                                scrollTop: target.offset().top
                            }, 600, function () {
                                // Callback after animation
                                // Must change focus!
                                var $target = $(target);
                                $target.focus();
                                if ($target.is(":focus")) { // Checking if the target was focused
                                    return false;
                                } else {
                                    $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                                    $target.focus(); // Set focus again
                                };
                            });
                        }
                    }
                });

            /* Isotope Gallery */

            // init isotope
            var $gallery = $(".tm-gallery").isotope({
                itemSelector: ".tm-gallery-item",
                layoutMode: "fitRows"
            });
            // layout Isotope after each image loads
            $gallery.imagesLoaded().progress(function () {
                $gallery.isotope("layout");
            });

            $(".filters-button-group").on("click", "a", function () {
                var filterValue = $(this).attr("data-filter");
                $gallery.isotope({ filter: filterValue });
            });

            $(".tabgroup > div").hide();
            $(".tabgroup > div:first-of-type").show();
            $(".tabs a").click(function (e) {
                e.preventDefault();
                var $this = $(this),
                    tabgroup = "#" + $this.parents(".tabs").data("tabgroup"),
                    others = $this
                        .closest("li")
                        .siblings()
                        .children("a"),
                    target = $this.attr("href");
                others.removeClass("active");
                $this.addClass("active");
            });
        });
    </script>
</body>
</html>